*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-image: url("images/lock.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

@media (min-width: 800px) {
    
    .container {
        background-color: rgba(0,0,0,0.5);
        backdrop-filter: saturate(180%) blur(10px);
        box-shadow: inset 0 0 100px #005b6277;
        border-radius: 30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: yellowgreen;
        width: 800px;
        height: 400px;
    }
}

@media (max-width: 799px) {
    .container {
        background-color: rgba(0,0,0,0.5);
        backdrop-filter: saturate(180%) blur(10px);
        box-shadow: inset 0 0 100px #005b6277;
        border-radius: 30px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: yellowgreen;
        width: 90%;
        height: auto;
    }
}

.header {
    margin: 20px;
    width: 100%;
    text-align: center;
}

.description {
    margin: 20px;
    text-align: center;
}

.pass-generator {
    padding: 10px 20px;
    background-color: yellowgreen;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin: 20px;
    transition: 0.5s;
}

.pass-generator:hover {
    cursor: pointer;
    scale: 1.1;
}

.passwords {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
    max-width: 700px;
}

.password {
    width: 300px;
    height: 40px;
    background-color: #1F2937;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
